* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.main-nav li{
    margin-left: 5vw;
    text-decoration: none;
    list-style:none;
    text-align: center;

    /*border: 2px solid black;*/
    transition: 0.5s;
}


.main-nav li a{
    text-decoration: none;
    color: #333;
    font-weight: 200!important;
    font-size: 2vh!important;
    letter-spacing: .2vw;
    transition: 0.6s;
    padding: 0 5px 0 5px;
}


.main-nav li a:hover{
    background-color: black;
    color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999!important;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.sticky + .content {
  padding-top: 102px;
}

.dropbtn {
  background-color: transparent;
  color: #333;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none!important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 160px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  font-size: 0.9em!important;
  font-weight: 200!important;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none!important;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(0,0,0,0.1); text-decoration: none!important; color: #333;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {filter: brightness(0.9);}
.product-main-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ececec;
}


.product-main-container {
    height: 100%;
    width: 100%;
    /*border: 1px solid black;*/
}

.product-main-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*border: 1px solid yellow;*/
    padding: 2em 2em;
}

.product-main-wrapper > .product-content {
    height: 80vh;
    width: 35%;
    /*border: 1px solid black;*/
}

.product-main-wrapper > .product-image-gallery-main-wrapper {
    height: 100%;
    width: 65%;
    /*border: 1px solid black;*/
}

.product-content {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.product-details {
    height: 120px;
    width: 100%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-details:after {
    content: '';
    height: 1px;
    width: 85%;
    background-color: #ececec;
    margin: auto;

}

.product-details .product-name {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 2px;
}

.product-details .product-price {
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 1px;
}

.product-size-qty {
    height: 220px;
    /*border: 1px solid black;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-size-qty > strong > small {
    color: rgba(0,0,0,0.6);
}

.product-sizes {
    /*border: 1px solid black;*/
    height: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.product-sizes input[type="radio"] {
    display:none;
}

.product-sizes label {
    padding: 1em;
    display: inline-block;
    border: 1px solid #ececec;
    cursor: pointer;
    font-weight: bold;

}

.product-sizes .blank-label {
    display: none;
}

.product-sizes input[type="radio"]:checked + label {
    background: #ffffff;
    color: #333333;
    border: 2px solid #222222;
}

.product-qty {
    height: auto;
    width: 70%;
    /*border: 1px solid black;*/
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-qty input[type=number]::-webkit-inner-spin-button,
.product-qty input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.product-qty input[type=number]
{
    -moz-appearance: textfield;
}

.product-qty input {
    width: 80px;
    height: 50px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    border: 1px solid #ececec;
}

.product-qty input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 70px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    /*border: 2px solid #222222;*/
    width: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 1.6em;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.9;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #333333;

}

.quantity-button.quantity-up {
    position: absolute;
    height: 70%;
    top: 15%;
    left: -80px;
    /*border-right: 2px solid #222222;*/
    background-color: #333333;
}

.quantity-button.quantity-down {
    position: absolute;
    /*bottom: 0px;*/
    height: 70%;
    top: 15%;
    left: 40px;
}

.add-to-cart-btn {
    width: 85%;
    text-decoration: none!important;
    color: #222;
    text-transform: uppercase;
    cursor: pointer!important;
    transition: all 0.2s ease;
    z-index: 10;
    background-color: #fff;
    padding: 10px 50px;
    border: 2px solid #222;
}

.add-to-cart-btn > p {
    margin: 0!important;
    padding: 0!important;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}

.add-to-cart-btn:hover {
    color: #fff;
    background-color: #222;
}

.product-description {
    border: 1px solid #ececec;
    padding: 1em 1em;
    margin: 1em 1em;
    width: 85%;
}

.product-description strong {
    color: #333333;
    font-weight: 500;
    font-size: 1.2em;
}

.product-description p {
    margin-top: 1em;
    font-size: 0.9em;
    color: #334444;

}

.product-image-gallery-main-wrapper {
    /*border: 1px solid black;*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.preview-image-container {
    height: 90vh;
    width: 80%;
    /*border: 1px solid black;*/
}

.preview-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 20%;
}

.image-gallery {
    height: 100%;
    width: 20%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 1em;
}

.image-gallery > div {
    height: 120px;
    width: 100%;
    /*border: 1px solid blue;*/
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.image-gallery > div:hover {
    filter: brightness(0.7);
}

.image-box-btn > img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: top center;
}

footer {
    background-color: #333333;

}
.footer-overlay {
    background-color: rgba(0,0,0,0.4);
    padding: 4em;
    height: 100%;
    width: 100%;
}
.footer-container {
    width: 100%;
    margin: auto;
    padding: 3em 0 4em 0;
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

/*.footer-container > div {*/
/*    margin: 0 4.5em;*/
/*}*/
.left-col {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-top: 40px;
    flex-direction: column;


}
.left-col a {
    text-decoration: none!important;
    color: #fff;
}

.left-col a h1 {
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    text-transparent: uppercase;
    margin-bottom: 35px!important;
    color: #fff;
    letter-spacing: 2px;
}

.social-media a {
    margin-right: 30px;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    color: #fff;
}
.social-media a:hover{
    color: #fff;
    filter: brightness(0.6);
}
.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.question {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #ffff;
}
.center-col p {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 300;
    color: #ffff;
}
.right-col{
    margin-top: 40px;

    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-col h1 {
    text-align: center;
    font-size: 1.5em;
}
.footer-border {
    width: 130px;
    height: 4px;
    background-color: #ffff
}
.course-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}
.course-list .course-name {
    font-size: 0.8em;
    text-decoration: none;
    color: #f6f5f3;
    margin: 5px 0;
}
.course-list .course-name:hover {
    text-decoration: underline;
}
.footer-register-btn {
    text-decoration: none!important;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer!important;
    transition: all 0.2s ease;
    z-index: 10;
    background-color: #1112;
    padding: 10px 50px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
}

.footer-register-btn > p {
    margin: 0!important;
    padding: 0!important;
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;
}
.footer-register-btn:hover {
    color: #fff;
    transform: translateX(20px);

}
.footer-lower-border {
    height: 30px;
    background-color: rgb(13, 92, 99);
    width: 100%;
}
.footer-overlay-border {
    background-color: rgba(0, 0, 0, 0.65);
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media  screen and (max-width: 960px) {
    .footer-container {
        max-width: 600px;
    }
    .right-col {
        width: 100%;
        margin-bottom: 10px;
    }

    .center-col {
        padding-right: 0;
    }

    .footer-border {
        margin-left: 5.5em;
    }
    .left-col {
        width: 100%;
        text-align: center;
    }

    .left-col .logo-image {
        margin-left: 33%;
    }
}